<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.register.RegisterDanaDaruratActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterTelevisiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterTipeRumahTanggaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Prediksi_pengeluaran"
            android:exported="false" />
        <activity
            android:name=".ui.tabunganidealku.TabunganIdealkuActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ui.danadarurat.DanaDaruratActivity"
            android:exported="false" />
        <activity
            android:name=".ui.landingPage.LandingThirdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterDomisiliActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterKepalaRumahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="false" />
    </application>

</manifest>